* {
	box-sizing: border-box;
}

<<<<<<< HEAD
::-webkit-scrollbar {
	height: 0px;
	width: 8px;
	border: 1px solid #fff;
}

::-webkit-input-placeholder {
	text-align: right;
}

::-webkit-scrollbar-track {
	border-radius: 0;
	background: #eeeeee;
}

::-webkit-scrollbar-thumb {
	border-radius: 0;
	background: #b0b0b0;
}
=======

>>>>>>> 674a665 (new commit)

@keyframes heading-in {
	from {
		margin-top: 0rem;
		opacity: 0%;
	}
	to {
		margin-top: 1rem;
		opacity: 100%;
	}
}

@keyframes heading-in-videos {
	from {
		margin-top: -1rem;
		opacity: 0%;
	}
	to {
		margin-top: 0rem;
		opacity: 100%;
	}
}

h1 {
	text-align: left;
	color: black;
	font-family: 'Belleza', sans-serif;
}

body {
	background-color: #d1f3fc;
	vertical-align: baseliine;
	padding: 0;
	margin: 0;
}

#button-pic {
	height: 50;
	width: 50;
}

.subject-buttons button,
#button-pic {
	vertical-align: middle;
}

#search {
	height: 2.2rem;
	width: 2.2rem;
	border-radius: 200rem;
}

.search-bar button {
	position: absolute;
	border: none;
}

.search-bar {
	margin-top: -2.5rem;
	margin-left: 23rem;
}

.search-bar img {
	height: 1rem;
	width: 1rem;
}

.subject-buttons {
	display: inline-block;
	text-align: center;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	background-color: #a8d5baff;
	margin-top: 5rem;
	height: 10rem;
	border-width: 2.5px;
	border-style: solid;
	border-left: none;
	border-right: none;
	border-color: white;
}

.subject-buttons button {
	z-index: -1;
	height: 5.5rem;
	width: 5.5rem;
	border-radius: 60px;
	border: none;
	background-color: white;
}

.subject-buttons button:hover {
	background: linear-gradient(to bottom, #ebdcf8 0%, #ffd1dc 100%);
}

.subject-buttons button:active {
	box-shadow: 0 5px #666;
	transform: translateY(3px);
}

.button-label {
	margin-left: 1.5rem;
	padding: 1.1rem;
	display: inline-block;
	text-align: center;
}

.button-label p {
	display: block;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	color: white;
}

.outer-slideshow {
	float: right;
	top: 9rem;
	right: 5rem;
	z-index: 0;
	position: absolute;
	margin: auto;
	max-width: 1000px;
}

.only-profile-pic button {
	z-index: -1;
	height: 4rem;
	width: 4rem;
	border-radius: 60px;
	font-size: 15;
	font-weight: bold;
	border: none;
	color: rgb(179, 108, 108);
	background-color: white;
}

.only-profile-pic img {
	z-index: -5;
}

.only-profile-pic button:hover {
	background-color: rgb(230, 230, 230);
	color: white;
}

.only-profile-pic button:active {
	box-shadow: 0 5px #666;
	transform: translateY(3px);
}

.button-profile {
	margin-left: 80rem;
	margin-top: -2.3rem;
	padding: 3rem;
	display: inline-block;
	text-align: center;
}

.main-slideshow {
	border-color: white;
	border-style: solid;
	border-width: 0.25rem;
	line-height: 0;
	box-sizing: content-box;
	object-fit: contain;
	animation-name: heading-in-videos;
	animation-duration: 1.5s;
}

.main-slideshow-media {
	display: none;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0.25rem;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	background: khaki;
}

.caption {
	color: black;
	font-size: 18px;
	position: absolute;
	bottom: -10px;
	width: 100%;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	font-weight: 200;
}

.dot {
	cursor: pointer;
	height: 9px;
	width: 9px;
	margin: 0px 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.dots {
	position: relative;
	bottom: -45px;
	text-align: center;
}

.active,
.dot:hover {
	background: linear-gradient(to bottom, #ebdcf8 0%, #ffd1dc 100%);
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

/* logo */
.flex-logo-and-name img {
	float: left;
	object-fit: contain;
	width: 3.3rem;
	height: 3.3rem;
}

.flex-logo-and-name h1 {
	position: relative;
	font-size: 1.7rem;
	margin-left: 0.3rem;
}

/* menu1 */

.flex-logo-and-name {
	overflow: hidden;
	display: flex;
	position: fixed;
	left: 4rem;
	top: 0.5rem;
	align-items: center;
	width: max-content;
}

.flex-top-center-menu {
	overflow: hidden;
	display: flex;
	position: fixed;
	width: 100%;
	justify-content: center;
	align-items: center;
	top: 1rem;
	padding: 0.5rem;
}

.flex-top-center-menu button {
	height: 2rem;
	width: 9rem;
	overflow: hidden;
	border-radius: 12px;
	background-color: white;
	display: block;
	border: none;
	margin: 0.25rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

a,
u {
	text-decoration: none;
}

.flex-top-center-menu button:hover {
	background: linear-gradient(to bottom, #ebdcf8 0%, #ffd1dc 100%);
}

.flex-top-center-menu button:active {
	box-shadow: 0 5px #666;
	transform: translateY(3px);
}

.top-header {
	width: 150%;
	height: 5.5rem;
	background-color: #fdf6e8;
	position: fixed;
	top: 0rem;
	z-index: 1;
}

.round-button-circle {
	width: 20%;
	height: 0;
	padding-bottom: 100%;
	border-radius: 0%;
	border: 10px solid #cfdcec;
	overflow: hidden;
	background: #4679bd;
	box-shadow: 0 0 3px gray;
}

.main-phrase-bottom p {
	color: transparent;
}
.main-phrase-top h2 {
	width: 40%;
	margin-left: 5rem;
	margin-top: 1rem;
	font-family: 'Rubik', sans-serif;
	color: black;
	font-size: 60;
	display: inline-block;
	animation-name: heading-in;
	animation-duration: 1s;
}

.main-phrase-top p {
	width: 40%;
	margin-left: 5rem;
	margin-top: 0.5rem;
	font-family: 'Rubik', sans-serif;
	color: black;
	font-size: 20;
	display: flex;
	animation-name: heading-in;
	animation-duration: 1.5s;
}
.main-phrase-top button:hover {
	background: linear-gradient(to bottom, #ebdcf8 0%, #ffd1dc 100%);
}

.main-phrase-top button:active {
	box-shadow: 0 5px gray;
	transform: translateY(3px);
}

.main-phrase-top button {
	margin-top: 1.5rem;
	margin-left: 5rem;
	border: none;
	width: 12rem;
	height: 4rem;
	border-radius: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 20;
	background-color: white;
}

.main-section {
	margin-top: 9rem;
}

@media (max-width: 600px) {
	.main-section {
		margin-top: 34rem;
	}
	.init-profile {
		display: none;
	}

	.clicked-profile {
		display: none;
	}
	.top-header {
		width: 150%;
		height: 5.5rem;
		background-color: #fdf6e8;
		position: fixed;
		top: 0rem;
		z-index: 1;
		overflow: auto;
		white-space: nowrap;
	}

	.flex-logo-and-name {
		display: flex;
		position: fixed;
		left: 4rem;
		top: 0.5rem;
		align-items: center;
		width: max-content;
		display: none;
	}

	.outer-slideshow {
		justify-content: center;
		align-items: center;
		width: 100%;
		right: 0rem;
		margin-top: 0rem;
		text-align: center;
		z-index: 0;
		position: absolute;
		margin: auto;
		max-width: 1000px;
		overflow-x: hidden;
		white-space: nowrap;
	}

	.prev,
	.next {
		cursor: pointer;
		text-align: center;
		justify-content: center;
		position: relative;
		width: 23%;
		top: -60px;
		color: white;
		font-weight: bold;
		font-size: 18px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
	}

	.next {
		border-radius: 3px 0 0 3px;
	}

	.main-slideshow {
		height: auto;
		width: auto;
		border-color: white;
		border-style: solid;
		border-width: 0.25rem;
		line-height: 0;
		box-sizing: content-box;
		object-fit: contain;
		animation-name: heading-in-videos;
		animation-duration: 1.5s;
	}
}
