/* miscellaneous (start) */
* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	height: 0px;
	width: 5px;
	background-color: white;
}

::-webkit-scrollbar-thumb {
	border-radius: 100px;
	background: #b0b0b0;
	z-index: 1;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

@keyframes bigger {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.1);
	}
}

@keyframes bigger-two {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.05);
	}
}

@keyframes heading-in-videos {
	from {
		margin-top: -1rem;
		opacity: 0%;
	}
	to {
		margin-top: 0rem;
		opacity: 100%;
	}
}

@keyframes heading-in {
	from {
		margin-top: 0rem;
		opacity: 0%;
	}
	to {
		margin-top: 1rem;
		opacity: 100%;
	}
}

@keyframes heading-in-main-phrase {
	from {
		margin-top: -1rem;
		opacity: 0%;
	}
	to {
		margin-top: 0rem;
		opacity: 100%;
	}
}

h1 {
	text-align: left;
	color: black;
	font-family: 'Noto Serif Display', sans-serif;
}

body {
	background-color: #d1f3fc;
	vertical-align: baseliine;
	padding: 0;
	margin: 0;
}

#button-pic {
	height: 50;
	width: 50;
}

#search {
	height: 2.2rem;
	width: 2.2rem;
	border-radius: 200rem;
}

.search-bar {
	margin-top: 4.3rem;
	margin-right: 22rem;
	display: inline-block;
	position: sticky;
}

.search-bar body {
	height: 100%;
	width: 100%;
	background: #051b33;
}

.search-bar form {
	position: sticky;
	top: 50%;
	left: 50%;
	transform: translate(0%, -100%);
	transition: transform 0s 0s, width 0.8s 8s;
	width: 50px;
	height: 50px;
	background: white;
	box-sizing: border-box;
	border-radius: 25px;
	border: 4px solid white;
	padding: 5px;
}

.search-bar .fa {
	box-sizing: border-box;
	padding: 10px;
	width: 42.5px;
	height: 42.5px;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50%;
	color: #07051a;
	text-align: center;
	font-size: 1.2em;
	transition: color 0s 8s, background 0ss 8s;
}

.search-bar input {
	position: absolute;
	top: 0;
	left: 0;
	width: 85%;
	height: 40px;
	line-height: 30px;
	outline: 0;
	border: 0;
	display: block;
	font-size: 0em;

	border-radius: 20px;
	padding: 15px;
	transition: font-size 0s 8s;
}

.search-bar form:hover {
	width: 320px;
	cursor: pointer;
	transition-delay: 0s;
}

.search-bar form:hover input {
	display: block;
	font-size: 1em;
	color: black;
	transition-delay: 0s;
}

.search-bar form:hover .fa {
	background: #07051a;
	color: rgb(253, 253, 253);
	transition-delay: 0s;
}

.search-bar img {
	height: 1rem;
	width: 1rem;
}

.subject-buttons {
	display: inline-block;
	text-align: center;
	width: 86.5%;
	margin-left: 5.7rem;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	margin-top: 5rem;
	height: 10rem;
	border: double 2.5px transparent;
	border-radius: 60px;
	background-image: linear-gradient(
			rgba(168, 213, 186, 50%),
			rgba(168, 213, 186, 50%)
		),
		linear-gradient(to right, rgb(108, 95, 231), rgb(93, 214, 93));
	background-origin: border-box;
	background-clip: content-box, border-box;
}

.subject-buttons button {
	z-index: -1;
	height: 5.5rem;
	width: 5.5rem;
	border-radius: 60px;
	border: none;
	background-color: white;
}

.subject-buttons button:hover {
	background: linear-gradient(to bottom, #ebdcf8 0%, #ffd1dc 100%);
	transform: scale(1.1);
	animation-duration: 0.2s;
	animation-name: bigger;
}

.subject-buttons button:active {
	box-shadow: 0 5px #666;
	transform: translateY(3px);
}

.subject-hover-text {
	color: white;
}

.button-label {
	margin-left: 1.5rem;
	padding: 1.1rem;
	display: inline-block;
	text-align: center;
}

.button-label p {
	display: block;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	color: black;
}

.outer-slideshow {
	float: right;
	top: 9rem;
	right: 5rem;
	z-index: 0;
	position: absolute;
	margin: auto;
	max-width: 1000px;
}

.only-profile-pic {
	display: block;
	position: sticky;
	z-index: 1;
}

.only-profile-pic button {
	text-align: center;
	z-index: -1;
	height: 3.7rem;
	width: 3.7rem;
	border-radius: 60px;
	font-size: 15;
	font-weight: bold;
	border: none;
	color: rgb(179, 108, 108);
	background-color: white;
}

.only-profile-pic img {
	z-index: -5;
}

#ignore-mouse {
	pointer-events: none;
}

.only-profile-pic button:hover {
	background-color: rgb(230, 230, 230);
	color: white;
	transform: scale(1.1);
	animation: bigger 1s;
}

.only-profile-pic button:active {
	box-shadow: 0 5px #666;
	transform: translateY(3px);
}

.main-slideshow {
	border: double 3px transparent;
	border-radius: 20px;
	background-image: linear-gradient(
			rgba(168, 213, 186, 50%),
			rgba(168, 213, 186, 50%)
		),
		linear-gradient(to right, rgb(156, 219, 248), rgb(241, 131, 131));
	background-origin: border-box;
	background-clip: content-box, border-box;
}

.main-slideshow-media {
	display: none;
	border-radius: 16px;
	overflow: hidden;
	z-index: 1;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0.25rem;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	background: khaki;
}

.caption {
	color: black;
	font-size: 18px;
	position: absolute;
	bottom: -10px;
	width: 100%;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	font-weight: 200;
}

.dot {
	cursor: pointer;
	height: 9px;
	width: 9px;
	margin: 0px 2px;
	background-color: rgb(196, 195, 195);
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.dots {
	position: relative;
	bottom: -45px;
	text-align: center;
}

.active,
.dot:hover {
	background: linear-gradient(to bottom, #ebdcf8 0%, #ffd1dc 100%);
	transform: scale(1.1);
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

/* logo */
.flex-logo-and-name img {
	float: left;
	object-fit: contain;
	width: 3.3rem;
	height: 3.3rem;
}

.flex-logo-and-name h1 {
	position: sticky;
	font-size: 1.8rem;
	margin-left: 0.3rem;
	font-weight: 300;
}

/* menu1 */

.flex-logo-and-name {
	display: flex;
	position: sticky;
	float: left;
	align-items: center;
	width: max-content;
}

.flex-top-center-menu {
	display: flex;
	position: sticky;
	max-width: 100%;
	justify-content: center;
	align-items: center;
	top: 1rem;
	right: 8rem;
	padding: 0.5rem;
}

.flex-top-center-menu button {
	height: 2rem;
	width: 9rem;
	overflow: hidden;
	border-radius: 12px;
	background-color: white;
	display: inline-block;
	border: none;
	margin: 0.25rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

a,
u {
	text-decoration: none;
}

.flex-top-center-menu button:hover {
	background: linear-gradient(to bottom, #ebdcf8 0%, #ffd1dc 100%);
	transform: scale(1.05);
}

.flex-top-center-menu button:active {
	box-shadow: 0 5px #666;
	transform: translateY(3px);
}

.top-header {
	height: 5.5rem;
	z-index: 1;
	background-color: #fdf6e8;
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0rem;
	overflow: hidden;
}

.round-button-circle {
	width: 20%;
	height: 0;
	padding-bottom: 100%;
	border-radius: 0%;
	border: 10px solid #cfdcec;
	overflow: hidden;
	background: #4679bd;
	box-shadow: 0 0 3px gray;
}

.main-phrase-bottom p {
	color: transparent;
}
.main-phrase-top h2 {
	width: 40%;
	margin-left: 5rem;
	margin-top: 1rem;
	font-family: 'Rubik', sans-serif;
	color: black;
	font-size: 60;
	display: inline-block;
	animation-name: heading-in;
	animation-duration: 1s;
}

.main-phrase-top p {
	width: 40%;
	margin-left: 5rem;
	margin-top: 0rem;
	font-family: 'Rubik', sans-serif;
	color: black;
	font-size: 18;
	display: flex;
	animation-name: heading-in-main-phrase;
	animation-duration: 1.5s;
}
.main-phrase-top button:hover {
	background: linear-gradient(to bottom, #ebdcf8 0%, #ffd1dc 100%);
	transform: scale(1.05);
	animation-name: bigger-two;
	animation-duration: 0.5s;
}

.main-phrase-top button:active {
	box-shadow: 0 5px gray;
	transform: translateY(3px);
}

.main-phrase-top button {
	margin-top: 1rem;
	margin-left: 5rem;
	border: none;
	width: 12rem;
	height: 4rem;
	border-radius: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 20;
	background-color: white;
}

.main-section {
	margin-top: 9rem;
}

@media (max-width: 1280px) {
	.flex-logo-and-name h1 {
		display: none;
	}
	.flex-logo-and-name img {
		margin-top: 0.3rem;
	}
}

@media (max-width: 1200px) {
	.main-phrase-top {
		width: 30%;
	}

	.main-phrase-top h2 {
		width: 80%;
		font-size: 50;
	}

	.main-phrase-top p {
		width: 80%;
	}
}

@media (max-width: 1050px) {
	.main-phrase-top {
		width: 15%;
	}

	.main-phrase-top h2 {
		width: 80%;
		font-size: 40;
	}

	.main-phrase-top p {
		width: 80%;
	}

	.flex-logo-and-name {
		display: flex;
		left: 3rem;
		top: 0.7rem;
	}

	.flex-logo-and-name img {
		height: 3rem;
		width: 3rem;
	}

	.flex-top-center-menu button {
		width: 100px;
	}
}

@media (max-width: 875px) {
	.main-section {
		margin-top: 34rem;
	}

	.top-header {
		max-width: auto;
		width: 150%;
		height: 5.5rem;
		background-color: #fdf6e8;
		position: fixed;
		top: 0rem;
		z-index: 1;
		overflow: auto;
		white-space: nowrap;
	}

	.main-phrase-top {
		text-align: center;
		width: 100%;
	}

	.main-phrase-top p,
	.main-phrase-top h2,
	.main-phrase-top button {
		display: inline-block;
		margin-left: 0rem;
		margin-right: 0rem;
	}

	.flex-logo-and-name {
		display: flex;
		left: 1.5rem;
		top: 1.2rem;
	}

	.flex-logo-and-name img {
		height: 2.2rem;
		width: 2.2rem;
	}

	.flex-top-center-menu button {
		width: 90px;
	}

	.search-bar {
		display: relative;
		margin-top: -2.5rem;
		margin-right: 12rem;
	}

	.outer-slideshow {
		justify-content: center;
		align-items: center;
		width: 100%;
		right: 0rem;
		margin-top: 0rem;
		text-align: center;
		z-index: 0;
		position: absolute;
		margin: auto;
		max-width: 1000px;
		max-height: auto;
		overflow-x: hidden;
		overflow-y: hidden;
	}

	.prev,
	.next {
		cursor: pointer;
		text-align: center;
		justify-content: center;
		position: relative;
		width: 23%;
		top: -60px;
		color: white;
		font-weight: bold;
		font-size: 18px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
	}

	.next {
		border-radius: 3px 0 0 3px;
	}

	.main-slideshow {
		height: auto;
		width: auto;

		border: none;
		line-height: 0;
		box-sizing: content-box;
		object-fit: contain;
		animation-name: heading-in-videos;
		animation-duration: 1.5s;
	}
}
